<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.grs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".helper.GRS"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.HomeActivity" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.MyOrderActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.MyCartActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.MyWishListActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.FeaturedAllActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.SubFeaturedAllActivity"
            android:parentActivityName=".activity.FeaturedAllActivity" />
        <activity
            android:name=".activity.SingleWishlistActivity"
            android:parentActivityName=".activity.MyWishListActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ContactActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity android:name=".activity.CheckoutActivity"
            android:parentActivityName=".activity.MyCartActivity"/>
        <activity android:name=".activity.PaymentActivity"
            android:parentActivityName=".activity.CheckoutActivity"/>
    </application>

</manifest>